/temp
/_saved
**/.ipynb_checkpoints
/main.py
/source/setup*
/source/source_midi/**

*.jpg
*.pth
*.bz2
/*.txt
/*.csv
/*.mid

!midimage0.jpg
!midimage1.jpg
!midimage2.jpg
!note_losses.jpg
!source/images/model_outputs/**
!source/images/tokenization/**
!source/source_midi/sources.txt
*.mid
