/temp
**/.ipynb_checkpoints

*.jpg
*.pth
/*.txt
/*.csv
/*.mid

/main.py

!midimage0.jpg
!midimage1.jpg
!midimage2.jpg
!note_losses.jpg
!train_log_d.txt
!train_log_n.txt
!train_log_nc.txt
!source/images/model_outputs/**
